/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body{
    height: 98vh;
    width: 98vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

/* Start of difficulty, tutorial & iplayer styling */

#iplayer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    max-width: 150px;
}

#difficulty-container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 120px;
}

#difficulty{
    position: fixed;
    top: 10px;
    left: 15px;
}

#speedLabel{
    color: white;
    font-size: large;
}

#speedOutput{
    font-size: larger;
}

#tutorial{
    position: fixed;
    bottom: 0px;
    right: 15px;
}

#tutorialIcon{
    color: green;
    max-width: 50px;
}

#mobileBtnContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 175px;
    position: fixed;
}

#mobileStart{
    visibility: hidden;
    background-color: orangered;
    color: black;
    position: relative;
    border-radius: 10px;
}

#mobileBackground{
    visibility: hidden;
    background-color: orangered;
    color: black;
    font-size: xx-small;
    position: relative;
    border-radius: 8px;
    margin-top: 5px;
    min-height: 25px;
}


/* End of difficulty, tutorial & iplayer styling */

/* Start of score styling */

#score{
    position: fixed;
    color: green;
    top: 10px;
    left: 25px;
    font-size: x-large;
    visibility: hidden;
}

#highscore{
    position: fixed;
    top: 10px;
    right: 25px;
    color: green;
    font-size: x-large;
}

#multiplier{
    position: fixed;
    color: green;
    bottom: 10px;
    left: 10px;
    font-size: xx-large;
    visibility: hidden;
}

/* End of score styling */

/* Start of modal styling */

#modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url('./sprites/nebula10.jpg');
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    max-width: 35%;
    max-height: 60%;
    border-radius: 2.5%;
    border: 2px solid gray;
    visibility: hidden;
}

#modalScore{
    font-weight: 900;
    font-size: 3vw;
    color: white;
}

#highScoreLabel{
    font-weight: 900;
    font-size: xx-large;
    visibility: hidden;
    color: orangered;
    position: relative;
    bottom: 10px;
}

#deathInfo{
    position: relative;
    bottom: 15px;
    color: orangered;
    font-size: xx-large;
    visibility: hidden;
}

#pointsLabel{
    color: gray;
    font-weight: 700;
    position: relative;
    font-size: larger;
    bottom: 5px;
}

#restartButton{
    background-color: orangered;
    color: black;
    width: 55%;
    height: 10%;
    margin-bottom: 3px;
    border-radius: 16px;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    top: 0px;
}

#homeButton{
    background-color: orangered;
    color: black;
    width: 55%;
    height: 10%;
    border-radius: 16px;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
    position: relative;
    top: 10px;
}

/* End of modal styling */

/* Start of Media Queries*/

@media screen and (max-width: 768px){
    #mobileStart{
        visibility: visible;
    }

    #mobileBackground{
        visibility: visible;
    }

    #modal{
        max-width: 60%;
        max-height: 50%;
    }

    #modalScore{
    font-weight: 900;
    font-size: xx-large;
    color: white;
    }   

    #highScoreLabel{
    font-size: x-large;
    }

    #deathInfo{
        font-size: x-large;
    }

    #pointsLabel{
        font-size: x-large;
    }

    #restartButton{
        width: 65%;
        height: 10%;
        margin-bottom: 0px;
    }

    #homeButton{
        width: 65%;
        height: 10%;
    }

}

@media screen and (max-width: 480px) {
    #iplayer{
        max-width: 100px;
    }

    #highscore{
        max-width: 150px;
        font-size: x-small;
    }

    #difficulty-container{
        max-width: 75px;
    }

    #speedLabel{
        font-size: x-small;
    }

    #speedOutput{
        font-size: x-small;
    }

    #speedSlider{
        max-width: 50px;
    }

    #tutorialIcon{
        max-width: 15px;
        right: 30px;
    }

     #modal{
        max-width: 100%;
        max-height: 100%;
    }

}
