*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 98vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
}

#canvas{
    background-color: #000000;
}

/* Start of difficulty, tutorial & iplayer styling */

#gameElements{

}

#difficulty{
    position: fixed;
    top: 5px;
    right: 0;
    bottom: 0;
    left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 66px;
    color: white;
    visibility: visible;
}

#speedOutput{
    color: orangered;
}

#iplayer{
    position: fixed;
    top: 0px;
    right: 550px;
    visibility: hidden;
}

#tutorial{
    position: fixed;
    bottom: 0px;
    right: 10px;
}

/* End of difficulty, tutorial & iplayer styling */

/* Start of score styling */

#scoreElements{

}

#score{
    position: fixed;
    color: green;
    top: 10px;
    left: 25px;
    font-size: x-large;
    visibility: hidden;
}

#highscore{
    position: fixed;
    top: 10px;
    right: 25px;
    color: green;
    font-size: x-large;
    visibility: hidden;
}

#multiplier{
    position: fixed;
    color: green;
    bottom: 10px;
    left: 50px;
    font-size: xx-large;
    visibility: hidden;
}

/* End of score styling */

/* Start of modal styling */

#modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-image: url('./sprites/nebula10.jpg');
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 35%;
    max-height: 50%;
    border-radius: 2.5%;
    border: 2px solid gray;
    visibility: hidden;
}

#modalScore{
    font-weight: 900;
    font-size: xx-large;
    color: white;
}

#highScoreLabel{
    font-weight: 900;
    font-size: xx-large;
    visibility: hidden;
    color: orangered;
    margin-top: 20px;
}

#deathInfo{
    position: relative;
    bottom: 30px;
    color: orangered;
    font-size: xx-large;
    visibility: hidden;
}

#pointsLabel{
    color: gray;
    font-weight: 700;
    position: relative;
    bottom: 5px;
}

#restartButton{
    background-color: orangered;
    color: black;
    width: 60%;
    height: 12.5%;
    margin-bottom: 10px;
    border-radius: 16px;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
}

#homeButton{
    background-color: orangered;
    color: black;
    width: 60%;
    height: 12.5%;
    border-radius: 16px;
    font-weight: 600;
    font-family: 'Orbitron', sans-serif;
}

/* End of modal styling */
